<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - crowdFunding.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
</head>
<body style="background-color: #7ccedc">
    <header id="js-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.jpg" style="width:110px; height:60px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a id="usr" href="#" class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" role="button" aria-expanded="false">User</a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="nav-item"><a href="#" class="nav-link text-dark sign-up" style="display:none" id="jsLogIn" data-target="#myLoginModal">Log In</a></li>
                                <li class="nav-item"><a href="@Url.Action("Register", "User")" class="nav-link text-dark sign-up" style="display:none" id="jsSignUp">Sign Up</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-dark sign-up" style="display:none" id="jsMyProfile">My Profile</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-dark sign-up" style="display:none" id="jsEditProfile">Edit Profile</a></li>
                                <li class="nav-item"><a href="#" class="nav-link text-dark sign-up" style="display:none" id="jsLogOut">Log Out</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown  ml-5">
                            <a href="#" class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" role="button" aria-expanded="false">Browse</a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="nav-item cat1"><a href="@Url.Action("Search", "Project", new { category = 1})" class="nav-link text-dark" data-category-code="1">Arts</a></li>
                                <li class="nav-item cat2"><a href="@Url.Action("Search", "Project", new { category = 2})" class="nav-link text-dark" data-category-code="2">Comics & Illustration</a></li>
                                <li class="nav-item cat3"><a href="@Url.Action("Search", "Project", new { category = 3})" class="nav-link text-dark">Design & Tech</a></li>
                                <li class="nav-item cat4"><a href="@Url.Action("Search", "Project", new { category = 4})" class="nav-link text-dark">Film</a></li>
                                <li class="nav-item cat5"><a href="@Url.Action("Search", "Project", new { category = 5})" class="nav-link text-dark">Food & Craft</a></li>
                                <li class="nav-item cat6"><a href="@Url.Action("Search", "Project", new { category = 6})" class="nav-link text-dark">Games</a></li>
                                <li class="nav-item cat7"><a href="@Url.Action("Search", "Project", new { category = 7})" class="nav-link text-dark">Music</a></li>
                                <li class="nav-item cat8"><a href="@Url.Action("Search", "Project", new { category = 8})" class="nav-link text-dark">Publishing</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            @*<a class="nav-link text-dark" id="js-createNewProject" asp-area="" asp-controller="" asp-action="">Create</a>*@
                            <a href="#" id="js-createNewProject" class="nav-link text-dark" role="button">Create</a>
                        </li>

                        @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Project">Project</a>
                        </li>*@
                    </ul>
                </div>
                <div class="search-container">
                    <form action="">
                        <input type="search" id="searchIn" name="searchIn" placeholder="Search" value="">
                        <a type="button" id="searchBtn" class="searchBtn" href="#"><i class="fa fa-search"></i></a>
                    </form>
                </div>
            </div>
        </nav>
        @Html.Hidden("RedirectTo", Url.Action("Register", "Project"));
        @*Login modal Popup*@
        <div class="modal fade" tabindex="-1" role="dialog" id="myLoginModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#7ccedc">
                        <h5 class="modal-title">Please enter your information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-group">
                            <label for="First Name">User</label>
                            <input class="js-userlogin-firstname form-control" id="login-FirstName" placeholder="Enter your first name.">
                        </div>
                        <div class="modal-group">
                            <label for="Email">Email Address</label>
                            <input class="js-userlogin-email form-control" id="login-Email" placeholder="Enter your e-mail address">
                        </div>
                        <div class="alert alert-success js-userlogin-success-alert" role="alert">
                            Login Successful!
                        </div>
                        <div class="alert alert-danger js-userlogin-fail-alert" role="alert">
                            Login Failed!
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color:#7ccedc">
                        <button type="button" class="btn btn-primary" id="jsLoginButton">Login</button>
                        <button type="button" class="btn btn-secondary js-modal-login-close" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        @*Create Project - not logged in modal popup*@
        <div class="modal fade" tabindex="-1" role="dialog" id="myCreateLoginModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#7ccedc">
                        <h5 class="modal-title">Cannot create your ideas if you are not logged in!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <a>If you are already a user, please Login.</a>
                    </div>
                    <div class="modal-footer" style="background-color:#7ccedc">
                        <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-primary" style="margin-right:200px">Home</a>
                        <a href="@Url.Action("Register", "User")" type="button" class="btn btn-primary">Sign Up</a>
                        <a class="btn btn-primary" type="button" data-dismiss="modal" data-toggle="modal" href="#myLoginModal">Login</a>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" id="js-footer">
        <div class="container">
            &copy; 2020 - crowdFunding.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://kit.fontawesome.com/f14f4d0e0c.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>