@model ProjectViewModel
@{
    ViewData["Title"] = "Details";
}

@if (Model.Project == null)
{<div class="box">
        <div class="content-project">
            <div class="not-found-image">
                <img src="https://www.cdgi.com/wp-content/uploads/2019/05/404-Pages-1112x556.jpg" width="700" height="600" class="img-fluid" alt="Image can not be displayed">
            </div>
            <div class="not-found-message">
                <p>We can't find the page you are looking for, but we have many other projects you can browse</p>
                <a class="btn btn-warning" href="#" role="button">Take me home</a>
            </div>
        </div>
    </div>

    return;
}


<div class="row mb-3">
    <div class="col-md-6">
        <div class="iframe-container">
            <iframe width='500' height='400' src='@Model.Project.Videos.ElementAt(0).Url' frameborder="0"></iframe>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h5 class="card-title mb-3">@Model.Project.Name </h5>
        <p>
            by <a href="@Url.Action("Details", "User", new { id = Model.User.UserId })">
                @Model.User.FirstName @Model.User.LastName
            </a>
        </p>
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped mb-3" style="width:@Model.Project.Percentage()"></div>
        </div>
        <h5 class="card-title mt-3">@Model.Project.AmountGathered €</h5>
        <p class="card-text mt-3">@Model.Project.NumberOfBackers Backers</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-8">
        <div class="card-body-project">
            <p class="card-text">@Model.Project.Description</p>
            @foreach (var p in Model.Project.Photos)
            {
                <div class="project-images">
                    <img src="@p.Url" width="450" height="300" class="img-fluid" alt="Image can not be displayed">
                </div>
            }

            @foreach (var p in Model.Project.Posts)
            {
                <p class="card-text mt-4">@p.Post</p>
            }
        </div>
    </div>

    <div class="col-md-4">
        <h5 class="card-header reward-package">Reward Packages</h5>
        @foreach (var rp in Model.RewardPackages)
        {
            <div class="card mb-2 shadow p-3 mb-5 bg-white rounded">
                <h5 class="card-header reward-packages">@rp.Name</h5>
                <div class="card-body">
                    <h5 class="card-title">@rp.Amount €</h5>
                    <p class="card-text">@rp.Description</p>

                    <button type="button" class="btn btn-primary mb-3"
                            data-toggle="modal" data-target="#myModal">
                        Ckeckout Rewards
                    </button>

                    <div class="modal fade right" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true" data-backdrop="true">
                        <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="heading">Rewards</p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-3">
                                            <p class="text-center">
                                                <img src="https://www.iconsdb.com/icons/preview/navy-blue/gift-xxl.png"
                                                     width="50" height="50">
                                            </p>
                                        </div>
                                        <div class="col-9">
                                            @foreach (var p in rp.Rewards)
                                            {
                                                <p>@p.Name</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <a href="#" class="btn btn-primary btn-md mt-2">Buy Package</a>
                </div>
            </div>
        }
    </div>
</div>
