@using crowdFunding.Core.Model
@model List<Project>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mainDiv">
    <img src="~/images/outsideofthebox.jpg" alt="company logo">
</div>

<h3 class="trendingH project-header">Trending</h3>
<div class="trending">

    <a class="clickable" id="btnLeft"><i class="fas fa-angle-left"></i></a>

    <div class="mainViewer">
        <div class="content" id="content">
            @foreach (var p in Model)
            {
                <div class="card card_home mt-4 shadow mb-5 bg-white rounded" style="padding-top:5px;">
                    <div class="inHeader">                        
                        <img class="card-img-top img-fluid project_photo trending-photos border-bottom" src="@p.Photos.ElementAt(0).Url"
                             alt="Image can not be displayed" width="100" height="100">                        
                    </div>
                    <div class="card-body">                   
                        <a href="@Url.Action("Details", "Project", new { id = p.ProjectId })">@p.ConcatName()</a>
                        <a href="@Url.Action("Details", "Project", new { id = p.ProjectId })" class="stretched-link"></a>                       
                    </div>
                    <div class="card-footer by">                        
                        by
                        <a href="@Url.Action("Details", "User", new { id = p.UserId })">
                            @p.User.FirstName @p.User.LastName
                        </a>                       
                    </div>
                </div>
            }
        </div>
    </div>

    <a class="clickable" id="btnRight"><i class="fas fa-angle-right"></i></a>
</div>
