@model UserViewModel

@{
    ViewData["Title"] = "Details";
}

@if (Model.User == null)
{
    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="box">
            <div class="content-project">
                <div class="not-found-image">
                    <img src="https://www.cdgi.com/wp-content/uploads/2019/05/404-Pages-1112x556.jpg" width="500" height="350" id="not-found-img" class="img-fluid" alt="Image can not be displayed">
                </div>
                <div class="alert alert-warning not-found-message text-center">
                    Oops! We can't find the user you are looking for
                </div>
                <a class="btn btn-warning" href="@Url.Action("Index", "Home")" role="button">Take me home</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    return;
}


<div class="row">
    <div class="col-4"></div>
    <div class="profile_bio center mb6">
        <h2 class="mb3">@Model.User.FirstName @Model.User.LastName</h2>
        <i class="fas fa-user fa-4x mb-3" style="color: #2B14A6;"></i>
        <p class="normal-type mb1">
            <span class="backed">
                Backed @Model.User.BackedProjectsList.Count projects
            </span>
            <span class="divider">
                ·
            </span>
            <span class="location">
                @Model.User.Country
            </span>
            <span class="divider">
                ·
            </span>
            <span class="joined">
                Joined on @Model.User.CreatedOn.ToString("d")
            </span>
        </p>
        <nav class="navbar navbar-inverse navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">                
                <ul class="nav navbar-nav">
                    <li class="nav-item">About</li>
                    <li class="nav-item">Backed<span class="count"><sup>@Model.User.BackedProjectsList.Count</sup></span></li>
                    <li class="nav-item">Created<span class="count"><sup>@Model.User.CreatedProjectsList.Count</sup></span></li>                    
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-4"></div>
</div>