@model UserViewModel

@{
    ViewData["Title"] = "MyProfile";
}

@if (Model == null)
{
    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="box">
            <div class="content-project">
                <div class="not-found-image">
                    <img src="https://www.cdgi.com/wp-content/uploads/2019/05/404-Pages-1112x556.jpg" width="500" height="350" id="not-found-img" class="img-fluid" alt="Image can not be displayed">
                </div>
                <div class="alert alert-warning not-found-message text-center">
                    Oops! We can't find the user you are looking for
                </div>
                <a class="btn btn-warning" href="@Url.Action("Index", "Home")" role="button">Take me home</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    return;
}


<div class="row text-center">
    <div class="col-4"></div>
    <div class="profile_bio center mb6">
        <h2 class="mb3">@Model.User.FirstName @Model.User.LastName</h2>
        @if (string.IsNullOrWhiteSpace(Model.User.Avatar))
        {
            <i class="fas fa-user fa-4x mb-3 mt-3" style="color: #2B14A6;"></i>
        }
        else
        {
            <div class="avatar mt-3 mb-3">
                <img src="@Model.User.Avatar" width="250" height="100" class="img-fluid" alt="Image can not be displayed">
            </div>
        }

        <p class="normal-type mb1">
            <span class="backed">
                Backed @Model.User.BackedProjectsList.Count projects
            </span>
            <span class="divider">
                ·
            </span>
            <span class="joined">
                Joined on @Model.User.CreatedOn.ToString("d")
            </span>
        </p>

        <button type="button" id="js-about-button" class="btn btn-dark">About</button>
        <span><button type="button" id="js-backedlist-button" class="btn btn-dark">Backed<span class="count"><sup>@Model.User.BackedProjectsList.Count</sup></span></button></span>
        <span><button type="button" id="js-createdlist-button" class="btn btn-dark">Created<span class="count"><sup>@Model.User.CreatedProjectsList.Count</sup></span></button></span>

    </div>
</div>


<div class="row user_row mt-3" id="js-about-row">

    <table class="table table-striped mt-5 user-table">
        <tbody>
            <tr>
                <th scope="row">First Name</th>
                <td>@Model.User.FirstName</td>
            </tr>
            <tr>
                <th class="th-custom" scope="row">Last Name</th>
                <td class="td-custom">@Model.User.LastName</td>
            </tr>
            <tr>
                <th scope="row">E-mail</th>
                <td>@Model.User.Email</td>
            </tr>
            <tr>
                <th class="th-custom" scope="row">Country</th>
                <td class="td-custom">@Model.User.Country</td>
            </tr>
            <tr>
                <th scope="row">Biography</th>
                <td>@Model.User.Description</td>
            </tr>
        </tbody>
    </table>

    <a type="button" href="@Url.Action("Edit", "User", new { id = Model.User.UserId })" class="js-useredit-button mt-5 btn btn-dark">
        Edit Profile
    </a>
</div>


<div class="overlaping position-relative">

    <div class="row user_row mt-3" id="js-backed-list-row">
        @if (Model.User.BackedProjectsList.Count == 0)
        {
            <div class="col-md-3"></div>
            <div class="align-some-text">
                <h4 class="no-projects">You haven't backed any projects yet!</h4>
                <a class="btn btn-dark create-project-button" href="@Url.Action("Search", "Project")" role="button">Browse projects</a>
            </div>
        }
        else
        {
            @foreach (var p in Model.User.BackedProjectsList)
            {
                <div class="col-md-4">
                    <div class="card mt-5 shadow mb-5 bg-white rounded">
                        <!-- Card image -->
                        <img class="card-img-top img-fluid project_photo" src="@p.Photo"
                             alt="Image can not be displayed" width="400" height="250">
                        <!-- Card content -->
                        <div class="card-body">
                            <!-- Title -->
                            <a href="@Url.Action("Details", "Project", new { id = p.ProjectId })">@p.Name</a>
                            <!-- Text -->
                            <p class="card-text mt-2">@p.ConcatDescription()</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    by
                                    <a href="@Url.Action("Details", "User", new { id = p.ProjectCreatorId })">
                                        @p.ProjectCreatorFirstName @p.ProjectCreatorLastName
                                    </a>, backed by @p.NumberOfBackers
                                </li>
                            </ul>
                            <a href="@Url.Action("Search", "Project", new { category = p.Category})" class="text-dark mt-4"><u>@p.Category</u></a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <div class="row user_row mt-3" id="js-created-list-row">
        @if (Model.User.CreatedProjectsList.Count == 0)
        {
            <div class="col-md-3"></div>
            <div class="align-some-text">
                <h4 class="no-projects">You haven't created any projects yet!</h4>
                <a class="btn btn-dark create-project-button" href="@Url.Action("Register", "Project", new { id = Model.User.UserId })" role="button">Create a project</a>
            </div>
        }
        else
        {
            @foreach (var p in Model.User.CreatedProjectsList)
            {
                if (p.Photos != null && p.Photos.Count != 0)
                {
                    <div class="col-md-4">
                        <div class="card mt-5 shadow mb-5 bg-white rounded">
                            <!-- Card image -->
                            <img class="card-img-top img-fluid project_photo" src="@p.Photos.ElementAt(0).Url"
                                 alt="Image can not be displayed" width="400" height="250">
                            <!-- Card content -->
                            <div class="card-body">
                                <!-- Title -->
                                <a href="@Url.Action("Details", "Project", new { id = p.ProjectId })">@p.Name</a>
                                <!-- Text -->
                                <p class="card-text mt-2">@p.Description</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">@p.AmountGathered €</li>
                                    <li class="list-group-item">@p.Percentage() funded</li>
                                    <li class="list-group-item"><a href="@Url.Action("Search", "Project", new { category = p.Category })" class="text-dark mt-4"><u>@p.Category</u></a></li>
                                    <li class="list-group-item"><a href="@Url.Action("Edit", "Project", new { id = p.ProjectId })" class="btn btn-primary" type="button">Edit your project</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
